body {
	background-image: linear-gradient(to bottom, #FFFFFF, #D2B48C);
	background-color: #FDF5E6;
	color: #663333;
	font-family: Arial, Helvetica, sans-serif;
}
header {
	background-color: #D2B48C;
	color: #663333;
	line-height: 300%;
}
nav {
	background-color: #FFDAB9;
	float: left;
	width: 150px;
	transition: background-color 2s linear;
}
nav a {
	color: #663333;
	font-weight: bold;
	transition: background-color 2s linear;
}
nav a:hover {
	color: #800000;
	background-color: #FFFAF0;
}
input {
	display: block;
	margin-bottom: 20px;
}

textarea {
	display: block; 
	margin-bottom: 20px;
}
input[type="submit"] {
	margin-left: 150px;
}
input[type="checkbox"] {
	display: inline;
	margin-left: 150px;
}
label {
	float: left;
	display: block;
	text-align: right;
	width: 140px;
	padding-right: 5px;
}
main {
	margin-left: 160px;
	padding-left: 30px;
}
h1 {
	font-family: "Times New Roman", Georgia, serif;
	margin-bottom: 0;
}
h2 {
	color: #800000;
	font-family: "Times New Roman", Georgia, serif;
}
table {
	border: 2px solid #800000;
	border-collapse: collapse;
	background-color: #FFFAF0;
}
td {
	padding: 0.5em;
	border: 2px solid #800000;
	text-align: left;
}
th {
	padding: 0.5em;
	border: 2px solid #800000;
}
tr:nth-of-type(even) {
	background-color: #FFFFFF;
}
ul {
	list-style-type: square;
	background-color: #FFFFE0;
	width: 180px;
}
footer {
	font-style: italic;
	text-align: center;
}
.baking {
	color: #663333;
	font-weight: bold;
} 
#contact {
	font-size: 90%;
}